<div class="container text-center mt-5">
  <h1>Mis Hobbies</h1>
  <table class="mt-3 mx-auto">
    <tr>
      <td>
        <button type="button" class="btn btn-primary btn-block" routerLink="/music">
          <img src="assets/image/musica.png" alt="Musica" class="img-fluid d-block"
            style="width: 300px; height: 300px; " routerLink="/music">
          Musica
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-success btn-block" routerLink="/camera">
          <img src="assets/image/fotos.png" alt="Fotos" class="img-fluid d-block" style="width: 300px; height: 300px;"
            routerLink="/camera">
          Fotos
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-block" routerLink="/video">
          <img src="assets/image/videos.png" alt="Videos" class="img-fluid d-block" style="width: 300px; height: 300px;"
            routerLink="/video">
          Videos
        </button>
      </td>
    </tr>
  </table>
</div>