<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container text-center mt-5">
  <h1>Mis Hobbies</h1>
  <table class="mt-3">
    <tr>
      <td>
        <a [routerLink]="['/music']">
          <img src="assets/image/music.jpg" alt="Musica" class="img-fluid">
        </a>
      </td>
      <td>
        <a [routerLink]="['/camera']">
          <img src="assets/image/camera.jpg" alt="Fotos" class="img-fluid">
        </a>
      </td>
      <td>
        <a [routerLink]="['/video']">
          <img src="assets/image/video.jpg" alt="Videos" class="img-fluid">
        </a>
      </td>
    </tr>
    <tr>
      <td>Musica</td>
      <td>Fotos</td>
      <td>Videos</td>
    </tr>
  </table>
</div>